In [2]:
import requests # 웹페이지 획득(웹브라우저)
import pandas as pd
from bs4 import BeautifulSoup
import re
class HTMLTableParser :
    def parse_url(self, url) :
        response = requests.get(url) # http://www.naver.com -> 그 사이트의 태그를 그대로 들고옴
        # html tag를 패싱해서 계층적으로 데이터 보유
        soup = BeautifulSoup(response.text, 'html.parser')
        # html태그 id(웹페이지에서 유일), name(중복, 서버)
        return[(table('id'), self.parse_html_table(table))
              for table in soup.find_all('table')]
    
    def parse_html_table(self, table) :
        n_columns = 0 # 몇 열 => 저장공간 확보를 위해서
        n_rows = 0 # 몇 행인지
        column_names = [] # 열이름을 저장하기 위해서
        for row in table.find_all('tr') : # 행찾기 7  ex)w3schools
            td_tags = row.find_all('td') # 3
            if len(td_tags) >0 :
                n_rows +=1 # 행수 카운트
                if n_columns == 0: # 첫행이면
                    n_columns = len(td_tags) # 열개수 결정
            th_tags = row.find_all('th')
            if len(th_tags)>0 and len(column_names)==0: # 처음이면
                for th in th_tags: # 컬럼이름을 결정
                    column_names.append(th.get_text()) # 이름가져오기
        if len(column_names) >0 and len(column_names)!=n_columns:
            raise Exception("컬럼 타이틀 컬럼 숫자와 안맞음") # 강제로 예외발생
        columns = column_names if len(column_names) >0 else range(0, n_columns) 
                            #  문자로 이름을 주라         숫자로 컬럼이름을 줘라
        df = pd.DataFrame(columns = columns, index = range(0, n_rows)) # 저장공간 확보
        row_marker = 0 # 행수에 따라
        for row in table.find_all('tr') : # 데이터를 가져오기 위해서
            column_marker = 0 # 열수에 따라
            columns = row.find_all('td')
            for column in columns :
                re_text=column.get_text().replace("\n", '')
                re_text=re_text.replace("\t", '')
                re_text=re_text.replace("\r", '')
                df.iloc[row_marker, column_marker] = re_text
                column_marker += 1
            if len(columns) >0 : # 데이터가 있다면
                row_marker +=1
        for col in df : # 채워진 데이터에서
            try : # 타입변경
                df[col] = df[col].astype(float) # 숫자형으로 변경
            except ValueError :
                pass
        return df

In [3]:
url = """https://www.dhlottery.co.kr/gameResult.do?method=winResult&startPage=1&endPage=10&currentPage="""
    
hp = HTMLTableParser() # 인스턴스

table = hp.parse_url(url)[0][1]
table

      회차   등수           당첨금        지급일자          판매점 회차별 실물보기 당첨자 인터뷰
0  444.0  1.0  매달 500만원x20년  2020.01.06  인터넷 복권판매사이트     실물보기    바로가기
1  443.0  1.0  매달 500만원x20년  2019.12.30      천하명당복권방     실물보기    바로가기
2  443.0  2.0   100,000,000  2019.12.30      천하명당복권방     실물보기
3  443.0  2.0   100,000,000  2019.12.26      천하명당복권방     실물보기
4  440.0  2.0   100,000,000  2019.12.06          신성사     실물보기
5  438.0  1.0  매달 500만원x20년  2019.11.29  인터넷 복권판매사이트     실물보기    바로가기
6  438.0  2.0   100,000,000  2019.11.21  인터넷 복권판매사이트     실물보기
7  438.0  2.0   100,000,000  2019.11.21  인터넷 복권판매사이트     실물보기
8  437.0  1.0  매달 500만원x20년  2019.11.19  인터넷 복권판매사이트     실물보기
9  437.0  1.0  매달 500만원x20년  2019.11.15  인터넷 복권판매사이트     실물보기    바로가기

In [5]:
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

In [6]:
engine = create_engine(
"mysql+mysqldb://root:"+"root"+"@127.0.0.1/jeju",encoding='utf-8') 
conn = engine.connect()

In [7]:
SQL = "select * from rotto"
samples = pd.read_sql(SQL, conn)
samples.head()

      회차   등수           당첨금        지급일자          판매점 회차별 실물보기 당첨자 인터뷰
0  444.0  1.0  매달 500만원x20년  2020.01.06  인터넷 복권판매사이트     실물보기    바로가기
1  443.0  1.0  매달 500만원x20년  2019.12.30      천하명당복권방     실물보기    바로가기
2  443.0  2.0   100,000,000  2019.12.30      천하명당복권방     실물보기
3  443.0  2.0   100,000,000  2019.12.26      천하명당복권방     실물보기
4  440.0  2.0   100,000,000  2019.12.06          신성사     실물보기